@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

input{
  color: rgb(39, 38, 38);
  text-align: center;
  padding: 5px;
  margin: 1em auto;
  border: 1px solid rgba(245, 245, 245, 0.301);
  border-radius: 2em;
}

button[type="submit"]{
  background-color: #5ec50a9c;
  color: #171717;
  font-weight: 600;
  border: 1px solid #171717;
  border-radius: 2em;
  padding: 0.5em 1em;
  margin: 1em auto;
}

.navbar {
  background: var(--background);
  color: var(--foreground);

  border-bottom: 1px solid var(--foreground);
}

.content-navbar{
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0 1em;
}